@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
*{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: black;
}
.navbar{
    width: 1100px;
    margin: auto;
    position: relative;
    padding-top: 20px;
}
.logo{
    padding-top: 10px;
    float: left;
    width: 140px;
    height: 60px;
}
.logo img{
    width: 130px;
    height:50px;
}
.menu{
    float: right;
    margin-top: 10px;
}
nav {
    display: flex;
    width: 100%;
    margin: auto;
    line-height: 50px;
    top: 0;
    background: black;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
    padding: 0px 17px 0px 17px;
}
nav ul li ul li{
    float: none;
}
nav ul li a{
    color: #266afd;
    text-align: center;
    position: relative;
}
.menu-nav a:hover{
    font-weight: 900;
}
.menu-nav a::after{
    content: '';
    position: absolute;
    background-color: #266afd;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}
.menu-nav a:hover::after{
    width: 100%;
}
nav .navbar .dropdown{
    display: none;
}
nav ul li:hover .dropdown{
    display: block;
    background-color: #FFFFFF;
    position: absolute;
    box-shadow: 0 1px 20px 0 hsl(0deg 0% 61% / 30%);
    top: 100%;
    z-index: 100;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all .2s;
}
.konsul{
    background-color: black;
    color: #266afd;
    border: 1px solid #edf3ff;
    border-radius: 25px;
}
.landing{
    background-color: black;
    color: #266afd;
    border: 1px solid #266afd;
    border-radius: 25px;
}
.konten{
    display: flex;
    margin-top: 80px;
    margin-right: 555px;
    margin-left: 55px;
}
.konten ul li{
    list-style: none;
}
.konten ul li img{
    width: 350px;
    height: 200px;
}
.tanggal{
    font-size: 14px;
    color: #FFF;
    margin: 0 0 7px;
    display: block;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}
.konten ul li a h5{
    font-size: 25px;
    font-weight: bold;
    color: #266AFD;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 8px;
}
.konten ul li a p{
    color: #FFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
}
.konten ul li a .more{
    color: #fe9365;
    font-weight: 600;
}
.lanjutan ul li{
    list-style: none;
}
.lanjutan ul li button{
    text-align: center;
    color: #FFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: #266AFD;
    border: 1px solid #266AFD;
    text-transform: inherit;
    border-radius: 22px;
    padding: 12px 24px;
    margin: 15px auto 0;
    width: auto;
}
.lanjutan ul li button:hover{
    background-color: #266AFD;
    color: #fff;
    cursor: pointer;
}
.footer{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    display: block;
    padding: 80px;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer .footer-list{
    padding-left: 0;
    margin: 0;
}
.footer .footer-list li{
    list-style: none;
    margin-bottom: 25px;
    font-weight: 600;
}
.footer .footer-list li a{
    color: #266afd;
    font-family: Roboto,sans-serif;
}
.footer-menu{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.footer-about{
    flex: 0 0 100%;
    max-width: 100%;
}
.footer-chanel{
    flex: 0 0 100%;
    max-width: 100%;
}
.abt-1{
    margin-bottom:10px;
    margin-left: -40px;
    margin-top: 90px;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
    display: block;
    font-family: 'Roboto', sans-serif;
    opacity: 0.4;
    letter-spacing: 3px;
}
.abt-2{
    margin-bottom: 15px;
    margin-left: -40px;
    color: #FFF;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.abt-3{
    margin-left: -40px;
    margin-top: 40px;
    color: #FFF;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.email{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-email{
    width: 26px;
    height: 26px;
}
.logo-email img{
    width: 25px;
    height: 25px;
    vertical-align: middle
}
.footer-chanel ul li{
    list-style: none;
}
.email-name{
    color: #FFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-left: -20px;
}
.sosmed{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-sosmed{
    width: 34px;
    height: 34px;
    margin-left: -7px;
}
.logo-sosmed img{
    width: 33.75px;
    height: 33.75px;
}
.store ul li{
    list-style: none;
}
.store{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-store1, .logo-store2{
    width: 130px;
    height: 36px;
}
.logo-store1 img{
    width: 120px;
    height: 35.14px;
}
.logo-store2 img{
    width: 120px;
    height: 35.14px;
    margin-left:-30px;
}
.chat{
    position: fixed;
    cursor: pointer;
    right: 55px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 3px 6px rgba(0,0,0,.1);
}


@media (min-width: 576px) {
    .footer-menu{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 576px){
    .footer-about{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}
@media (min-width: 576px){
    .footer-chanel{
        flex: 0 0 25%;
        max-width: 25%;
    }
}